<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YTGrab</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>YTGrab API</h1>
        <div class="search-box">
            <input type="text" id="urlInput" placeholder="Paste YouTube URL here...">
            <button onclick="fetchInfo()" id="fetchBtn">Fetch</button>
        </div>
        
        <div id="loader" class="hidden loader-text">Solving JS Challenge & Extracting...</div>
        <div id="error" class="hidden error-text"></div>
        
        <div id="result" class="hidden">
            <h2 id="videoTitle"></h2>
            <img id="videoThumb" src="" alt="Thumbnail">
            <div id="formatList" class="format-list"></div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>